<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/auth_styles.css">
  </head>
  <body>
    <div class="mob_sec">
      <h1>Get Started</h1>
      <h3>Enter your registered Mobile No:</h3>
      <form class="form_1" action="/auth" method="post">
        <input type="number" name="mobile" value="">
        <button type="submit" name ="button" class="nxt_btn btn-lg btn btn-primary"><a>Submit</a></button>
      </form>
      <div id="stores">
        <h4><%=data%></h4>
      </div>

    </div>
  </body>
</html>
