<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Digi rise</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/home_styles.css">
<script src="https://kit.fontawesome.com/a353081e02.js" crossorigin="anonymous"></script>
  </head>
  <body>
  <nav style = "padding:20px 40px;"class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">DigiRise</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#serv_sec">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#support_sec">Network</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact_sec">Contact Us</a>
      </li>
    </ul>

  </div>
</nav>
<div id = "home_sec"class="intro row">
<div class="col-lg-6">
<img src="images/sec_1.jpg" class = "intro_img" alt="blogart">
</div>
<div class="col-lg-6">
  <h1>Get Hassle-free,</h1>
  <h1>in-home delivery</h1>
  <button type="button" class=" sec1_btn btn-lg btn btn-outline-primary"><a href="auth">Your stores</a></button>
  <button type="button" class=" sec1_btn btn-lg btn btn-outline-primary"><a href="/blog_page">Your orders</a></button>
</div>
</div>
<div id = "serv_sec"class="sec_2 row">
<div class="col-lg-6">
  <h1>Services</h1>
  <p>Provides in-house delivery within the user specified time slot. Aims at creating a healthy and safe environment catered towards the comfort of the general public. The packaging and delivery utilities are undertaken with utmost care.</p>
  <button type="button" class=" sec2_btn btn-lg btn btn-outline-primary"><a href="/blog_page">Orders</a></button>
</div>
<div class="col-lg-6">
<img src="images/sec2_img.png" class = "sec2_img" alt="blogart">
</div>
</div>
<div id = "support_sec"class="sec_3 row">
<div class="col-lg-6">
  <img src="images/sec3_img.png" class = "sec3_img" alt="blogart">
</div>
<div class="col-lg-6">
  <h1>Support</h1>
  <p>Easily track your orders and specify additional instructions as necessary. Any disturbance in the package during the delivery process can be reported.
Our technical team is available 24/7 in case of any discrepancy. The range of our network is expanding daily. Check out our available locations and nearby stores for easy accessibility. </p>
  <button type="button" class=" sec3_btn btn-lg btn btn-outline-primary"><a href="/blog_page">Network</a></button>
</div>

</div>
<div id = "contact_sec"class="sec_4 row">
<div class="col-lg-6 foo">
  <h1>Feel free to reach out!</h1>
  <h5>digimails@gmail.com</h5>
  <h5>Social Media</h5>
  <div class="footer">
    <div class="row">
      <h5>Facebook</h5>
        <img class = "icons"src="images/fb.png" alt="">
    </div>
    <div class="row">
      <h5>Instagram</h5>
        <img class = "icons"src="images/insta.png" alt="">
    </div>
    <div class="row"  >
      <h5 style = "margin-right: 20px;">Twitter</h5>
        <img class = "icons"src="images/twitter.png" alt="">
    </div>
  </div>


</div>
<div class="col-lg-6">
  <img src="images/sec4_img.png" class = "sec4_img" alt="blogart">
</div>

</div>








  </body>
</html>
